
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Left & Right alignment */

.left { float:left;}
.right { float:right;}
.wrapper {width:100%; overflow:hidden;}
.wrapper1 { position:static;}
.relative{ position:relative;}

/* Global properties ======================================================== */

body{ background: url(../images/bg.gif) center top repeat #100f10; border:0; font:13px Tahoma, Geneva, sans-serif; color:#717171; line-height:22px; min-width:960px; overflow:hidden}

.bg1{ background:#100f10; opacity:0.61}

.spinner{ position:absolute;background: url(../images/bg.gif) center top repeat #100f10; z-index:99; width:100%; height:100%; top:0; left:0}
.spinner > div{ background: url(../images/loader.gif) 50% 50% no-repeat; width:100%; height:100%;}

/* Global Structure ============================================================= */

.block {height:48px;}
.extra {min-height:100%; height:auto !important; height:100%; margin: 0 auto -48px; background:url(../images/bg_img.jpg) center center no-repeat}
body, html {height:100%;}


/* ============================= main layout ====================== */

a{ color:#26251e; text-decoration: none; outline:none}
a:hover{ color:#e75e3b}
h1{ padding:0 0 4px 323px; position:relative; z-index:5}
h2{ font-size:18pt; font-weight: normal; color:#26251e; padding: 0 0 27px 0;}
p{ padding-bottom:22px}

/* ============================= header ====================== */
header{ height:30px;font-size:14px; color:#fff; text-transform:uppercase; line-height:1.2em; padding-top:16px;}

#top_nav{ float:right; padding:0 8px 0 0}
#top_nav li{ float:left; padding-right:14px; background:url(../images/top_line.gif) right 3px no-repeat; margin-right:14px;}
#top_nav a{color:#fff; overflow:hidden;}
#top_nav a:hover{ color:#717171}
#top_nav .last{ padding-right:0; margin-right:0; background:none;}

.date{ float:left; padding-left:5px;}

#logo{ display:block; text-indent:-9999px; background:url(../images/logo3.png) 0 0 no-repeat; width:311px; height:75px;}

#menu{ position:absolute; z-index:3; left:11px; top:80px; width:960px}
#menu > li{ float: left; width:188px; padding-right:2px; position:relative;}
#menu > li > a{ position:relative; display:block;}
#menu .bord{ height:6px; width:100%; position:absolute; background:#e75e3b; opacity:0.85; top:0; left:0; display:block; z-index:2}

#menu .button{ position: absolute; top:8px; height:76px; width:100%; width:100%; display:block; background:#1C1C1C;z-index:1}

#menu .text{ position: relative; top:8px; height:76px; width:100%; font-size:20px; color:#fff; text-transform:uppercase; text-align:center; line-height:70px; width:100%; display:block; z-index:3}
.submenu_1{ position:absolute; top:84px; background:#393436; opacity:0.95; width:188px; left:0; padding:21px 0 22px;}
.submenu_1 > li{ padding-bottom:5px; line-height:35px; position:relative;}
.submenu_1 > li > a{ display:block; text-align:center; font-size:12px; color:#fff; text-transform:uppercase;}
.submenu_1 > li:hover > a{ background:#e75e3b; opacity:0.95}
.submenu_2{ position:absolute; top:-21px; background:#e75e3b; opacity:0.95; width:188px; left:189px; padding:21px 0 22px;}
.submenu_2 > li{ padding-bottom:5px; line-height:35px; position:relative;}
.submenu_2 > li > a{ display:block; text-align:center; font-size:12px; color:#fff; text-transform:uppercase;}
.submenu_2 > li:hover > a{ background:#393436; opacity:0.95}



.bg_menu{ position:relative; margin-left:-6px; width:970px; height:264px; z-index:3}

#splash_menu{ position:absolute; z-index:4; left:11px; top:80px; width:960px}
#splash_menu li{ float: left; width:188px; padding-right:2px; position:relative;}
#splash_menu a{ position:relative; display:block;}
#splash_menu .bord{ height:6px; width:100%; position:absolute; background:#e75e3b; opacity:0.85; top:0; left:0; display:block}
#splash_menu .button{ position: relative; top:8px; height:66px; width:100%; font-size:20px; color:#fff; text-transform:uppercase; text-align:center; line-height:50px; width:100%; display:block; background:#1e1c1c;
background-image: -moz-linear-gradient(top, #464646, #1e1c1c); /* Firefox 3.6 */
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1e1c1c),color-stop(1, #464646)); /* Safari & Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#464646', endColorstr='#1e1c1c'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#464646', endColorstr='#1e1c1c')"; /* IE8 */
padding-top:10px;}
#splash_menu img{ position:absolute; top:8px; height:0px; width:100%}

/* ============================= content ====================== */

#content{ height:362px; padding:20px 0 20px 0;}

#content > ul{ margin:0 7px 0 5px; position:relative; margin-top:0px; z-index:1;}
#content > ul > li{ background:#eceaeb; height:596px; width:100%; padding-top:30px; position:relative;-webkit-box-shadow:  0px 0px 25px -5px rgba(0, 0, 0, 0.5);box-shadow:  0px 0px 25px -5px rgba(0, 0, 0, 0.5);}

.line1{ background:url(../images/line_vert1.gif) 480px 0 repeat-y;}
.line2{ background:url(../images/line_vert1.gif) 630px 0 repeat-y;}
.line3{ background:url(../images/line_vert1.gif) 315px 0 repeat-y;}
.line4{ background:url(../images/line_vert1.gif) 278px 0 repeat-y;}

.font1{ font-size:12px; color:#26251e; line-height:25px; text-transform:uppercase}
.font1x{ font-size:16px; color:#26251e; line-height:25px; text-transform:none}
.font_body{ font-size:15px; color:#444; line-height:25px; text-transform:none}
.font_body_1{ font-size:16px; color:#26251e; line-height:25px; text-transform:uppercase}
.font_body_2{ font-size:16px; color:#26251e; line-height:25px; text-transform:uppercase}
.font_body_3{ font-size:16px; color:#26251e; line-height:25px; text-transform:uppercase}
.font3{ font-size:12px; color:#26251e; line-height:25px; text-transform:uppercase; text-align:justify}
.font2{ font-size:17px; color:#26251e; line-height:25px; text-transform:uppercase}

.pad_bot1{ padding-bottom:12px}
.pad_bot2{ padding-bottom:48px;}
.pad_bot3{ padding-bottom:26px;}
.marg_right1{ margin-right:27px;}
.marg_right2{ margin-right:90px;}
.marg_right3{ margin-right:130px;}
.marg_left1{ margin-left:27px;}
.pad_left1{ padding-left:40px;}
.pad_right1{ padding-right:40px;}

.margtop1{ margin-top:20px;}
.margtop2{ margin-top:40px;}
.margtop3{ margin-top:10px;}
.margtop4{ margin-top:30px;}
.margtop5{ margin-top:1px;}

.cols{ width:260px; float:left;}
.cols figure{ float:left; margin-right:8px; margin-top:7px;}
.cols .left{ width:216px; padding-bottom:4px;}
#page_contacts .cols{ width:94px;}

.cols1{ width:415px; float:left;}
.cols1 figure{ float:left; margin-right:8px; margin-top:7px;}
.cols1 .left{ width:308px; padding-bottom:4px; margin-top:3px}

.color1{ color:#26251e}
.color2{ font-size:13px; color:#26251e; letter-spacing:-1px;}
.color3{ font-size:13px; color:#26251e; letter-spacing:-0.5px; line-height:1.5em; padding: 0 0 27px 0;}
.color4{ font-size:13px; color:#666666; letter-spacing:-1px;}
.color5{ font-size:17px; color:#11110d; letter-spacing:-1px;}

.list1{}
.list1 li{ font-size:12px; line-height:25px; padding-bottom:17px;}
.list1 .last{ padding-bottom:0}
.list1 a{ padding-left:26px; background:url(../images/marker_1.gif) 0 3px no-repeat; text-transform:uppercase; color:#26251e; display:inline-block}
.list1 a:hover{ color:#e75e3b}

.button1{ display:inline-block; font-size:15px; color:#fff; text-transform:none; line-height:25px; position:relative; background:#c85436; 
background-image: -moz-linear-gradient(top, #f1b0a0, #c85436); /* Firefox 3.6 */
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #c85436),color-stop(1, #f1b0a0)); /* Safari & Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f1b0a0', endColorstr='#c85436'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f1b0a0', endColorstr='#c85436')"; /* IE8 */}

.button1:hover{ color:#fff}
.button1 span{ position: absolute; top:0; left:0; width:100%; height:100%; background:#682c1d}
.button1 strong{ position:relative; padding:0 11px;}

.button1x{ display:inline-block; font-size:11px; color:#fff; text-transform:uppercase; line-height:20px; position:relative; background:#c85436; width:50px; height:25px}
.button1x:hover{ color:#fff}
.button1x span{ position: absolute; top:0; left:0; width:100%; height:100%; background:#682c1d}
.button1x strong{ position:relative; padding:0 11px;}

    /* fixed IE */
    input {
       scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', className = (className) ? ' type-'+type : 'type-'+type)
    }

    input:focus,
    input:active,
    input:hover,
    input.type-text,
    input.type-search,
    input.type-password,
    input.type-file,
    input.type-submit,
    input.type-text:focus,
    input.type-password:focus,
    input.type-file:focus,
    input.type-search:focus,
    input.type-submit:focus {
       outline:0;
       outline-color: #f1f1f1;
       border:1px solid #c7c7c7 !important;
    }
    /* /fixed IE */
	textarea:focus,
	textarea:active,
	textarea:hover{
       outline:0;
       outline-color: #f1f1f1;
       border:1px solid #c7c7c7 !important;
    }
    input[type="text"], input[type="password"], input[type="file"], input[type="search"], input.type-text, input.type-password, input.type-file, input.type-search&nbsp; {
       border:1px solid #c7c7c7 !important;
       padding: 4px 5px;
       height:16px;
       border-radius: 3px;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px;
    }

    input[type="file"], input.type-file {
       height:26px;
    }

    /*input[type="submit"], input.type-submit, .cabutton {
       border:1px solid #c7c7c7 !important;
       padding: 1px 7px 2px 7px;
       background:#086f14;
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#DDDDDF));
       background: -moz-linear-gradient(top, #EDEDED 0%, #DDDDDF 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#DDDDDF',GradientType=0 );
       height:26px;
       border-radius: 3px;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px;
       box-shadow: inset 0 1px 0 #fff;
       -moz-box-shadow: inset 0 1px 0 #fff;
       -webkit-box-shadow: inset 0 1px 0 #fff;
       text-shadow: 0 1px 0 #fff;
       font-size: 13px;
    }*/

    .cabutton {
       padding: 4px 7px 5px 7px;
    }

    /*input[type="submit"]:hover, input.type-submit:hover, .cabutton:hover {
       border:1px solid #c7c7c7 !important;
       background: #ddd;
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDDDDF), color-stop(100%,#EDEDED));
       background: -moz-linear-gradient(top, #DDDDDF 0%, #EDEDED 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDF', endColorstr='#EDEDED',GradientType=0 );
    }*/

.img1{ float:left; margin-right:16px; margin-top:7px;}

#gallery1 { margin-top:7px;}
#gallery1 li{ padding-bottom:11px;}
#gallery1 li a{ display:block; background:#000; position:relative;} 
#gallery1 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery1 img{ position:relative;}

#gallery2 { margin-top:7px;}
#gallery2 li{ padding-bottom:11px;}
#gallery2 li a{ display:block; background:#000; position:relative;} 
#gallery2 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery2 img{ position:relative;}

#gallery3 { margin-top:7px;}
#gallery3 li{ padding-bottom:11px;}
#gallery3 li a{ display:block; background:#000; position:relative;} 
#gallery3 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery3 img{ position:relative;}

#gallery4 { margin-top:7px;}
#gallery4 li{ padding-bottom:11px;}
#gallery4 li a{ display:block; background:#000; position:relative;} 
#gallery4 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery4 img{ position:relative;}

#gallery5 { margin-top:7px;}
#gallery5 li{ padding-bottom:11px;}
#gallery5 li a{ display:block; background:#000; position:relative;} 
#gallery5 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery5 img{ position:relative;}

#gallery6 { margin-top:7px;}
#gallery6 li{ padding-bottom:11px;}
#gallery6 li a{ display:block; background:#000; position:relative;} 
#gallery6 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery6 img{ position:relative;}

#gallery7 { margin-top:7px;}
#gallery7 li{ padding-bottom:11px;}
#gallery7 li a{ display:block; background:#000; position:relative;} 
#gallery7 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery7 img{ position:relative;}

#gallery8 { margin-top:7px;}
#gallery8 li{ padding-bottom:11px;}
#gallery8 li a{ display:block; background:#000; position:relative;} 
#gallery8 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery8 img{ position:relative;}

#gallery9 { margin-top:7px;}
#gallery9 li{ padding-bottom:11px;}
#gallery9 li a{ display:block; background:#000; position:relative;} 
#gallery9 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery9 img{ position:relative;}

#gallery10 { margin-top:7px;}
#gallery10 li{ padding-bottom:11px;}
#gallery10 li a{ display:block; background:#000; position:relative;} 
#gallery10 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery10 img{ position:relative;}

#gallery11 { margin-top:7px;}
#gallery11 li{ padding-bottom:11px;}
#gallery11 li a{ display:block; background:#000; position:relative;} 
#gallery11 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery11 img{ position:relative;}

#gallery12 { margin-top:7px;}
#gallery12 li{ padding-bottom:11px;}
#gallery12 li a{ display:block; background:#000; position:relative;} 
#gallery12 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery12 img{ position:relative;}

#gallery13 { margin-top:7px;}
#gallery13 li{ padding-bottom:11px;}
#gallery13 li a{ display:block; background:#000; position:relative;} 
#gallery13 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery13 img{ position:relative;}

#gallery14 { margin-top:7px;}
#gallery14 li{ padding-bottom:11px;}
#gallery14 li a{ display:block; background:#000; position:relative;} 
#gallery14 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery14 img{ position:relative;}

#gallery15 { margin-top:7px;}
#gallery15 li{ padding-bottom:11px;}
#gallery15 li a{ display:block; background:#000; position:relative;} 
#gallery15 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery15 img{ position:relative;}

#gallery16 { margin-top:7px;}
#gallery16 li{ padding-bottom:11px;}
#gallery16 li a{ display:block; background:#000; position:relative;} 
#gallery16 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery16 img{ position:relative;}

#gallery17 { margin-top:7px;}
#gallery17 li{ padding-bottom:11px;}
#gallery17 li a{ display:block; background:#000; position:relative;} 
#gallery17 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery17 img{ position:relative;}

#gallery18 { margin-top:7px;}
#gallery18 li{ padding-bottom:11px;}
#gallery18 li a{ display:block; background:#000; position:relative;} 
#gallery18 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery18 img{ position:relative;}

#gallery19 { margin-top:7px;}
#gallery19 li{ padding-bottom:11px;}
#gallery19 li a{ display:block; background:#000; position:relative;} 
#gallery19 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery19 img{ position:relative;}

#gallery20 { margin-top:7px;}
#gallery20 li{ padding-bottom:11px;}
#gallery20 li a{ display:block; background:#000; position:relative;} 
#gallery20 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery20 img{ position:relative;}

#gallery21 { margin-top:7px;}
#gallery21 li{ padding-bottom:11px;}
#gallery21 li a{ display:block; background:#000; position:relative;} 
#gallery21 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery21 img{ position:relative;}

#gallery22 { margin-top:7px;}
#gallery22 li{ padding-bottom:11px;}
#gallery22 li a{ display:block; background:#000; position:relative;} 
#gallery22 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery22 img{ position:relative;}

#gallery23 { margin-top:7px;}
#gallery23 li{ padding-bottom:11px;}
#gallery23 li a{ display:block; background:#000; position:relative;} 
#gallery23 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery23 img{ position:relative;}

.pagination{ position:absolute; top:5px; right:-3px;}
.pagination a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination a:hover, .pagination a.active{ background-position:0 0;}

.pagination2{ position:absolute; top:5px; right:-3px;}
.pagination2 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination2 a:hover, .pagination a.active{ background-position:0 0;}

.pagination3{ position:absolute; top:5px; right:-3px;}
.pagination3 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination3 a:hover, .pagination a.active{ background-position:0 0;}

.pagination4{ position:absolute; top:5px; right:-3px;}
.pagination4 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination4 a:hover, .pagination a.active{ background-position:0 0;}

.pagination5{ position:absolute; top:5px; right:-3px;}
.pagination5 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination5 a:hover, .pagination a.active{ background-position:0 0;}

.pagination6{ position:absolute; top:5px; right:-3px;}
.pagination6 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination6 a:hover, .pagination a.active{ background-position:0 0;}

.pagination7{ position:absolute; top:5px; right:-3px;}
.pagination7 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination7 a:hover, .pagination a.active{ background-position:0 0;}

.pagination8{ position:absolute; top:5px; right:-3px;}
.pagination8 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination8 a:hover, .pagination a.active{ background-position:0 0;}

.pagination9{ position:absolute; top:5px; right:-3px;}
.pagination9 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination9 a:hover, .pagination a.active{ background-position:0 0;}

.pagination10{ position:absolute; top:5px; right:-3px;}
.pagination10 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination10 a:hover, .pagination a.active{ background-position:0 0;}

.pagination11{ position:absolute; top:5px; right:-3px;}
.pagination11 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination11 a:hover, .pagination a.active{ background-position:0 0;}

.pagination12{ position:absolute; top:5px; right:-3px;}
.pagination12 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination12 a:hover, .pagination a.active{ background-position:0 0;}

.pagination13{ position:absolute; top:5px; right:-3px;}
.pagination13 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination13 a:hover, .pagination a.active{ background-position:0 0;}

.pagination14{ position:absolute; top:5px; right:-3px;}
.pagination14 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination14 a:hover, .pagination a.active{ background-position:0 0;}

.pagination15{ position:absolute; top:5px; right:-3px;}
.pagination15 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination15 a:hover, .pagination a.active{ background-position:0 0;}

.pagination16{ position:absolute; top:5px; right:-3px;}
.pagination16 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination16 a:hover, .pagination a.active{ background-position:0 0;}

.pagination17{ position:absolute; top:5px; right:-3px;}
.pagination17 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination17 a:hover, .pagination a.active{ background-position:0 0;}

.pagination18{ position:absolute; top:5px; right:-3px;}
.pagination18 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination18 a:hover, .pagination a.active{ background-position:0 0;}

.pagination19{ position:absolute; top:5px; right:-3px;}
.pagination19 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination19 a:hover, .pagination a.active{ background-position:0 0;}

.pagination20{ position:absolute; top:5px; right:-3px;}
.pagination20 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination20 a:hover, .pagination a.active{ background-position:0 0;}

.pagination21{ position:absolute; top:5px; right:-3px;}
.pagination21 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination21 a:hover, .pagination a.active{ background-position:0 0;}

.pagination22{ position:absolute; top:5px; right:-3px;}
.pagination22 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination22 a:hover, .pagination a.active{ background-position:0 0;}

.pagination23{ position:absolute; top:5px; right:-3px;}
.pagination23 a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination23 a:hover, .pagination a.active{ background-position:0 0;}

#icon{ padding-top:7px; margin-right:-5px;}
#icon li{ float:left; padding-right:3px;}

.scroll{height:480px; width:100%; overflow:hidden}
.track{ width:1px; height:520px; padding:30px 0; top: 20px !important; left:850px !important; background:#e4e4e4}
.shuttle{ width:5px; height:55px; background:#e75e3b; margin-left:-2px;}
._up-butt, ._down-butt{ height:0px !important;}



/* ============================= footer ====================== */

footer { font-size:12px; line-height:28px; height:36px; padding:12px 7px 0 5px; color:#585758; overflow:hidden;}
footer a{ color:#585758;}
footer a:hover{ color:#fff}

#icons{ float:right;}
#icons li{ float:left; padding-left:4px; font-size:14px; color:#fff; text-transform:uppercase;}
#icons .first{ padding-right:12px}

#footer_logo{ font-size:14px; color:#fff; text-transform:uppercase; display:inline-block; margin-top:1px; margin-right:5px;}

/* Tooltips */
.aToolTip { background:#e75e3b; color:#fff;	margin:0; padding:4px 10px 3px; font-size:9px; line-height:1.2em; position: absolute; text-transform:uppercase}
.aToolTip .aToolTipContent { position:relative;	margin:0; padding:0;}


/* ============================= forms ============================= */

#ContactForm{ padding-top:7px; position:relative;}
#ContactForm .wrapper{ overflow:inherit; min-height:37px;}
#ContactForm .success{ padding:15px 30px; display:none; background:#26251e; color:#fff; top:150px; left:0; right:0; position: absolute; z-index:2}
#ContactForm label{ position:relative;min-height:31px; display: inline-block; z-index:1;}
#ContactForm .message{ height:150px;}
#ContactForm  span{ display:block}
#ContactForm .error, #ContactForm .empty{ font-size:10px; color:#26251e; line-height:14px; display:none; width:100%}
#ContactForm a{ margin-right:15px; float: center; width:100px; text-align:center}
#ContactForm .input { margin:0;width:300px; height:17px; background: none; padding:6px 12px;color:#717171; font:13px Calibry, Helvetica, sans-serif;}
#ContactForm .input1 { margin:0;width:180px; height:17px; background: none; padding:6px 12px;color:#717171; font:13px Calibry, Helvetica, sans-serif;}
#ContactForm textarea { overflow: auto; margin:0;width:300px; height:111px; background: none; padding:7px 12px;color:#717171; font:13px Calibry, Helvetica, sans-serif;}


#ContactForm  .bg{ background:#f2f2f2; border:1px solid #fff; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; float:left;}

/* ============================= contact image ============================= */

#passe{ padding: 30px; background: #F00; border: 2px solid #930;}